createdAt: "2018-10-11T09:18:03.374Z"
updatedAt: "2018-10-12T09:12:27.078Z"
type: "MARKDOWN_NOTE"
folder: "6a3ef8ea61ec57a1e16b"
title: "《番茄工作法图解》"
content: '''
  ##《番茄工作法图解》
  
  ![](https://img3.doubanio.com/view/subject/l/public/s27586831.jpg)
  
  ## 本书精选
  ### 工具与方法
  * 第一阶段：弄清完成某项任务所需的时间
  * 第二阶段：减少被打断的次数
  * 第三阶段：估测某项任务所需要的时间
  * 第四阶段：让番茄时间应用得更有效
  * 第五阶段：制作一份作息时间表
  
  ### 简介
  对很多人来说，时间就像敌人。特别是在快要考试、快要截稿、工期快到时，当你身边的闹钟“滴答滴答”地提醒着你，时间已经很紧迫，那时焦躁的心情会导致你的工作和学习效率低下，这时你想的可能不是怎样去完成任务，而是怎样去拖延工期。番茄工作法就是针对灵活有效地利用时间而设计的，帮助你完成任务以及提高工作和学习效率。
  
  ### 背景
  在工期快到的时候，谁能没有焦急的心情？谁不想把工期再拖延几天，好让自己透透气？又有谁喜欢夜以继日的追赶工期？
  
  请记住，时间是个贪婪的家伙，他不用任何手段就能轻松地击败你。贪婪是时间的本性吗？或者这只是对时间认知的一种方式？对于多数人来说，为什么人们在处理与时间的关系时总会遇到很多问题呢？这种由时间飞逝所带来的焦虑是从哪里来的呢？
  
  时间是自然的产物，难以捉摸，不确定的流逝着，朝向下一刻发展。我们如果逼着自己去追赶时间，不让他流逝，我们会感觉力不从心，被时间压迫，被奴役，被打败，随着时间一秒一秒的过去，这些感受会来的更强烈。渐渐的我们失去了追赶时间的激情。
  
  ### 番茄工作法的目标
  * 缓解由时间的生成性所带来的压力
  * 减少被打断的次数，集中注意力
  * 提高判断力
  * 充满热情并一直保持着
  * 坚定信心，达成目标
  * 提高工期预测能力，即估测能力，保质保量
  * 加快学习和工作进度
  
  ### 番茄工作法流程
  * 计划
  * 追踪
  * 记录
  * 分析
  * 可视化处理
'''
tags: [
  "book"
]
isStarred: false
isTrashed: false
