createdAt: "2018-10-10T12:06:48.536Z"
updatedAt: "2018-10-10T12:11:06.445Z"
type: "MARKDOWN_NOTE"
folder: "2f795db0a12b4be47e86"
title: "新闻"
content: '''
  ## 新闻
  * [AI未来将让飞机像鸟一样用气流飞行，节省能源](https://36kr.com/p/5154390.html)
  
  * [观点：城市交通的未来不是无人驾驶](https://36kr.com/p/5153516.html)
  
  * [前谷歌CEO预计：2028年互联网将分成两大阵营，中国主导其中一个](https://36kr.com/p/5154369.html)
  
  * [线下扫小程序可关注公众号，这是微信深入零售场景的新打法](https://36kr.com/p/5154295.html)
  
  
  ## 前端
  
  * [Google I/O](https://events.google.com/io/)
  
  * [grapesjs](https://grapesjs.com/)
'''
tags: []
isStarred: false
isTrashed: false
