createdAt: "2018-10-11T09:07:44.543Z"
updatedAt: "2018-10-12T09:10:04.807Z"
type: "MARKDOWN_NOTE"
folder: "6a3ef8ea61ec57a1e16b"
title: "《如何阅读一本书》"
content: '''
  ## 《如何阅读一本书》
  
  ### 作者
  莫提默·J. 艾德勒（美）
  
  ![](https://img3.doubanio.com/view/subject/l/public/s28946675.jpg)
  
  ### 目录
  * 序言
  * 第一篇 阅读的层次
    * 第一章 阅读的活力与艺术
      * 为了获得资讯而读
      * 为求得理解而读
    * 第二章 阅读的层次
    * 第三章 阅读的第一个层次 - 基础阅读
      * 学习阅读的阶段
      * 阅读的阶段与层次
      * 更高层次的阅读与高等教育
      * 阅读与民主教育的理念
    * 第四章 阅读的第二个层次 检视阅读
      * 检视阅读一：有系统的略读或粗读
      * 检视阅读二：粗浅的阅读
        * 阅读的速度
        * 逗留与倒退
        * 理解的问题
        * 检视阅读的摘要
    * 第五章 如何做一个自我要求的读者
  * 第二篇 阅读的第三个层次
      * 第六章 一本书的分类
      * 第七章 透视一本书
      * 第八章 与作者找出共通的词义
      * 第九章 判断作者的主旨
      * 第十章 公正地评断一本书
  第十一章 赞同或反对作者
  第十二章 辅助阅读
'''
tags: []
isStarred: false
isTrashed: false
