createdAt: "2018-10-08T06:17:43.863Z"
updatedAt: "2018-10-09T12:13:47.277Z"
type: "MARKDOWN_NOTE"
folder: "07ffef3e322882b45034"
title: "read books"
content: '''
  ## read books
  
'''
tags: []
isStarred: false
isTrashed: true
