createdAt: "2018-10-11T09:38:36.626Z"
updatedAt: "2018-10-12T09:14:33.959Z"
type: "MARKDOWN_NOTE"
folder: "6a3ef8ea61ec57a1e16b"
title: "《再活一次，用写作来调心》"
content: '''
  ## 《再活一次，用写作来调心》
  ### 初写者的新、笔和纸
  
  ![](https://img3.doubanio.com/view/subject/l/public/s24452581.jpg)
  
  ### 初始的意念
  * 手应当不停的写。
  * 不要删除
  * 别担心错别字、标点符号和文法
  * 放松控制
  * 别思考，别想着要合乎逻辑
  * 直捣要害（倘若你写出了可怕或太过赤裸裸的东西，那就一头钻进去，其中说不定蕴藏了很多能量。）
  
  ### 写作构想参考
  * 说说透窗而来的光线的质感，赶快写，就算现在是晚上，窗帘都拉起来了，哪怕你愿意写北极光都无所谓，写就是了。写十分钟、一刻钟或一小时。
  * 从“我记得”写起，写很多细微的往事。如果陷入庞大的回忆里，就写那个，一直写下去，别管那段往事是发生在五秒钟以前，还是五年以前。在你写作时，只要不是当下发生的事，就是复苏的往事。如果僵在原处写不下去时，就重写一遍“我记得”，然后继续写下去。
  * 选一样你强烈感受的事物，不管感受是正面还是负面的，都把它当成是你热爱的事物写写看。用热爱的心态，能写多久便写多久。然后整个推翻，把同样一件事当成是你痛恨的东西写写看。最后不带好恶，以完全中立的心态写一遍。
  * 选一种颜色，比方粉红，然后出门散步一刻钟，一路上留心凡有粉红色的人或事物，然后回家打开笔记本写一刻钟。
  * 在不同的地点写作，好比说在自助洗衣店，随着洗衣机转动的节奏写。在公车站、咖啡馆写，写下你周遭所发生的事。
  * 告诉你早上做了什么，吃早餐、醒来、走到公车站。描述要尽量明确，放慢脑子转动的速度，重新审视一早上的细枝末节。
  * 回想你真心喜爱的某个地方，想象自己就在那里，环顾周遭的细节，一一写下来。可能是卧室的一角，整整一个夏天你曾闲坐其下的一颗老树，家附近一家麦当劳的某张桌子，或是河畔某处。那儿有什么样的颜色、声音和气味？当别人读到这篇文字时，应该能了解置身在那里的滋味；应该能感受到你有多么喜爱那个地方，并不是因为你说了你很喜欢，而是从你处理细节的方式看出端倪。
  * 写关于“离开”，随便你想用哪种方法写都行。写你离婚。今天早上离开家门，或朋友将不久于人世的事。
  * 你最初的记忆是什么
  * 哪些是你曾爱过的人
  * 写你居住城市的大街小巷
  * 描绘祖父或祖母
  * 写写看
      * 游泳
      * 星星
      * 你最害怕的一次
      * 绿地
      * 你如何知道有关性的事
      * 感受与神或大自然最接近的一次经验
      * 改变你人生的文章或书籍
      * 肉体的耐力
      * 别沦于抽象，把真实的东西写出来，诚实地写，并写出细节。
  * 拿本诗集，随意翻开一页，抓一行抄下来，就从这一句开始写。有位朋友称这方法为“离页书写”。从一行伟大的文字写起是颇有助益的事，因为你是从巍然之处着手。
  * 每次文思堵塞，就回头重写第一行句子，而后继续写下去便可。重写第一行会使你有个全新的开始，有机会走到另一个方向。
  * 你是哪种动物？你是否觉得自己骨子里是狐狸或是马？
'''
tags: [
  "book"
]
isStarred: false
isTrashed: false
