createdAt: "2018-10-11T12:35:18.767Z"
updatedAt: "2018-10-12T08:49:02.811Z"
type: "MARKDOWN_NOTE"
folder: "6a3ef8ea61ec57a1e16b"
title: "《诗经》"
content: '''
  ## 《诗经》
  
  ### 淇水滺滺，桧楫松舟。驾言出游，以写我忧。
  
  思念故乡而不能归家
  
  ### 桃之夭夭，灼灼其华。之子于归，宜其室家。
  
  祝婚嫁美满
  
  ### 投我以木瓜，报之以琼琚。匪报也，永以为好也。
  
  情侣互赠
  
  ### 南有樛木，葛藟累之。乐只君子，福履绥之。
  
  祝福大吉大利，万事如意
  
  ### 彼采葛兮。一日不见，如三月兮。
  
  对爱人的思念
  
  ### 大车啍啍，毳衣如璊，岂不尔思？畏子不奔。
  
  少女为爱的勇敢
  
  ### 丘中有李，彼留之子。彼留之子，贻我佩玖。
  
  期盼情人相会
'''
tags: [
  "文学"
  "book"
]
isStarred: false
isTrashed: false
