createdAt: "2018-10-10T09:37:54.934Z"
updatedAt: "2018-10-12T03:47:25.062Z"
type: "MARKDOWN_NOTE"
folder: "fba79554f9e6601d04b1"
title: "关于我"
content: '''
  ## 关于我
  ### 作者：杨小福
  * Author: Yangxiaofu
  * Company: www.meituan.com
  * github: https://github.com/xiaofuzi
  * Old version: http://hexo-blog.yangxiaofu.com/
  
  <img src="http://hexo-blog.yangxiaofu.com/img/dog.jpg" alt="It's not me! Don't think too much.">
  
  
  It's not me! Don't think too much.
  
  如有错误，我会改；如有雷同，不胜荣幸。
  
  版权声明：[自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）](/post/47fe60ab67b42e46bd03)
  
  
'''
tags: []
isStarred: false
isTrashed: false
