createdAt: "2018-10-11T11:13:31.513Z"
updatedAt: "2018-10-11T11:45:27.581Z"
type: "MARKDOWN_NOTE"
folder: "fba79554f9e6601d04b1"
title: "前端技术"
content: '''
  ## 前端技术
  
  * ### [React](https://reactjs.org/)
     
      * 生态
          * [React Native](https://facebook.github.io/react-native/)
  
  * Vue
  * Angular
  * NativeScript
  
  ## 编程语言
  
  * Javascript
  * Lisp
  * Haskell
  * python
  
  
'''
tags: []
isStarred: false
isTrashed: false
